#wrap {
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
}

#wrap .top-link {
  position: relative;
  max-height: 44px;
  background-color: #505961;
}

#wrap .top-link .layout {
  position: relative;
  max-width: 1240px;
  width: 100%;
  height: 44px;
  margin: 0 auto;
  text-align: left;
}

#wrap .top-link .layout > p {
  float: left;
  color: #fff;
  font-size: 13px;
  letter-spacing: -0.09em;
}

#wrap .top-link .layout > p > a {
  display: block;
  padding-left: 24px;
  color: #fff;
  font-size: 15px;
  letter-spacing: -0.09em;
  position: relative;
  line-height: 42px;
}

#wrap .top-link .layout > p > a::before {
  content: '';
  display: block;
  width: 17px;
  height: 23px;
  background-image: url("../img/corona.png");
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

#wrap .top-link .layout > ul {
  float: right;
  height: 40px;
  margin: 4px 0 0;
}

#wrap .top-link .layout > ul > li {
  float: left;
  width: auto;
  text-align: center;
  padding: 0 12px;
  position: relative;
}

#wrap .top-link .layout > ul > li:first-child::before, #wrap .top-link .layout > ul > li:last-child::before {
  display: none;
}

#wrap .top-link .layout > ul > li::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 1px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
}

#wrap .top-link .layout > ul > li > a {
  display: block;
  width: 100%;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
}

#wrap .top-link .layout > ul > li .clickOpen {
  position: relative;
}

#wrap .top-link .layout > ul > li .clickOpen > button {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

#wrap .top-link .layout > ul > li .clickOpen > button:focus {
  border: 1px dotted #EC008C;
  padding: 0 5px;
}

#wrap .top-link .layout > ul > li .clickOpen > button::after {
  display: inline-block;
  margin: 0 0 0 5px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  content: '';
  vertical-align: middle;
}

#wrap .top-link .layout > ul > li .clickOpen > button .skip {
  top: 0;
  display: none;
}

#wrap .top-link .layout > ul > li .clickOpen > div {
  display: none;
  position: absolute;
  width: 100%;
}

#wrap .top-link .layout > ul > li .clickOpen > div .inner {
  border-top: 1px solid #fff;
}

#wrap .top-link .layout > ul > li .clickOpen > div .inner > span {
  display: block;
}

#wrap .top-link .layout > ul > li .clickOpen > div .inner > span > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  background: #323d47;
  color: #fff;
  border-bottom: 1px dashed #6a7179;
  font-size: 14px;
  text-align: center;
}

#wrap .top-link .layout > ul > li .clickOpen.on > button {
  background: #323d47;
  color: #fff;
}

#wrap .top-link .layout > ul > li .clickOpen.on > button::after {
  border-top: 0;
  border-bottom: 4px solid #fff;
}

#wrap .top-link .layout > ul > li .clickOpen.on > div {
  display: block;
}

#wrap .top-link .layout > ul > li.siteLink {
  background-color: #244788;
  padding: 0 17px 0 43px;
  border-radius: 10px 10px 0 0;
}

#wrap .top-link .layout > ul > li.siteLink > a > svg {
  overflow: visible;
  position: absolute;
  top: -4px;
  left: 10px;
  width: 33px;
  height: 57px;
}

#wrap .top-link .layout > ul > li.siteLink > a > svg .st0, #wrap .top-link .layout > ul > li.siteLink > a > svg .st1, #wrap .top-link .layout > ul > li.siteLink > a > svg .st2 {
  fill: #ED1C24;
  animation-name: fly;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

#wrap .top-link .layout > ul > li.siteLink > a > svg .st1 {
  fill: #1872c8;
  animation-delay: 1.5s;
}

#wrap .top-link .layout > ul > li.siteLink > a > svg .st2 {
  fill: #00AB4E;
  animation-delay: .5s;
}

#wrap #header {
  display: block;
  position: relative;
  width: 100%;
  height: 92px;
  text-align: center;
  background: #fff;
  clear: both;
}

#wrap #header .header-wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  text-align: left;
}

#wrap #header .header-wrap .logo-wrap {
  position: relative;
  float: left;
  margin-top: 16px;
}

#wrap #header .header-wrap .logo-wrap > a {
  display: block;
  width: 110px;
  height: 65px;
  overflow: hidden;
}

#wrap #header .header-wrap .logo-wrap > a .logo-play {
  transform: translate(0, -40px);
  position: relative;
}

#wrap #header .header-wrap .utile {
  height: 92px;
  float: right;
}

#wrap #header .header-wrap .utile .box-pc {
  position: absolute;
  top: 20px;
  right: 0;
  height: 52px;
}

#wrap #header .header-wrap .utile .box-pc > a {
  display: block;
  width: 52px;
  height: 100%;
  background-image: url("../img/menu.png");
}

#wrap #header .header-wrap #nav {
  height: 92px;
}

#wrap #header .header-wrap #nav .gnb {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 92px;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  text-align: left;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 {
  display: block;
  float: none;
  height: 100%;
  padding: 0 90px;
  text-align: center;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > .n1:hover > a > span {
  color: #345aa0;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > .n1:hover > .item {
  display: block;
  opacity: 1;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > .n2:hover > a > span {
  color: #345aa0;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > .n2:hover > .item {
  display: block;
  opacity: 1;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > .n3:hover > a > span {
  color: #345aa0;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > .n3:hover > .item {
  display: block;
  opacity: 1;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > .n4:hover > a > span {
  color: #345aa0;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > .n4:hover > .item {
  display: block;
  opacity: 1;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > .n5:hover > a > span {
  color: #345aa0;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > .n5:hover > .item {
  display: block;
  opacity: 1;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > .n6:hover > a > span {
  color: #345aa0;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > .n6:hover > .item {
  display: block;
  opacity: 1;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li {
  display: inline-block;
  float: left;
  width: 16.66%;
  height: 100%;
  margin: 0;
  vertical-align: top;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li > a {
  position: relative;
  display: block;
  height: 100%;
  text-align: center;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li > a > span {
  display: inline-block;
  height: 100%;
  line-height: 92px;
  font-size: 18px;
  font-weight: 700;
  color: #282828;
  transition: .5s;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li .item {
  display: none;
  position: absolute;
  top: 92px;
  left: 0;
  z-index: 100;
  width: 100%;
  margin: 0;
  padding-left: 270px;
  text-align: left;
  background: white;
  opacity: 0;
  transition: .5s;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li .item::before {
  content: '';
  display: block;
  position: absolute;
  left: -350px;
  bottom: 0;
  width: 1920px;
  height: 100%;
  background: white;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li .item .gnb-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: url("../img/gnb_obj.png") no-repeat left 90%;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li .item .gnb-title > strong {
  display: inline-block;
  position: relative;
  margin: 45px 0 40px;
  font-size: 23px;
  color: #282828;
  font-weight: 700;
  line-height: 1.3;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li .item .gnb-title > p {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #767676;
  line-height: 1.4;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li .item .depth2 {
  float: left;
  position: relative;
  top: 0;
  height: 100% !important;
  min-height: 243px;
  width: 100%;
  text-align: left;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li .item .depth2 > li {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 0;
  text-align: left;
  min-height: 50px;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li .item .depth2 > li > a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 210px;
  height: 100%;
  min-height: 56px;
  padding: 15px 20px;
  border-bottom: 1px solid #5d6779;
  background: #414c62;
  vertical-align: top;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li .item .depth2 > li > a > span {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  vertical-align: top;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li .item .depth2 > li .depth3 {
  float: right;
  width: calc(100% - 210px);
  min-height: 56px;
  padding: 10px 0 10px 25px;
  border-bottom: 1px dashed #c4c6c8;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li .item .depth2 > li .depth3 > li {
  display: inline-block;
  position: relative;
  margin: 3px 13px 3px 0;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li .item .depth2 > li .depth3 > li > a {
  display: block;
  position: relative;
  width: 100%;
  padding-left: 10px;
}

#wrap #header .header-wrap #nav .gnb .gnb-wrap .depth1 > li .item .depth2 > li .depth3 > li > a > span {
  display: inline-block;
  font-size: 15px;
  color: #7b7b7b;
}

#wrap #body-layout {
  width: 100%;
  display: block;
}

#wrap #body-layout #main-wrap {
  overflow: hidden;
  font-size: 0;
  background: url("../img/bg_now.png") no-repeat center bottom;
  background-size: 100% auto;
  width: 100%;
}

#wrap #body-layout #main-wrap .info-box {
  position: relative;
  padding: 25px 0;
  margin-bottom: 45px;
  background: #eff3f6;
}

#wrap #body-layout #main-wrap .info-box .layout {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  text-align: left;
}

#wrap #body-layout #main-wrap .info-box .layout .weather-box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

#wrap #body-layout #main-wrap .info-box .layout .weather-box .title-box {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 120px;
  padding: 20px 0;
  margin-right: 20px;
  border: 1px solid #e0e0e0;
  background: #fff;
  text-align: center;
}

#wrap #body-layout #main-wrap .info-box .layout .weather-box .title-box .title {
  display: block;
  margin: 0 auto 10px;
  width: 93px;
  height: 57px;
}

#wrap #body-layout #main-wrap .info-box .layout .weather-box .title-box .title > a {
  font-size: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/taegeukgi.png") center no-repeat;
}

#wrap #body-layout #main-wrap .info-box .layout .weather-box .title-box .date {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #828282;
}

#wrap #body-layout #main-wrap .info-box .layout .weather-box .data-box {
  vertical-align: middle;
  display: inline-block;
}

#wrap #body-layout #main-wrap .info-box .layout .weather-box .data-box .dust-box {
  position: relative;
  padding-right: 45px;
}

#wrap #body-layout #main-wrap .info-box .layout .weather-box .data-box .dust-box > strong {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  font-size: 14px;
  color: #282828;
}

#wrap #body-layout #main-wrap .info-box .layout .weather-box .data-box .dust-box .dust {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600;
  color: #282828;
}

#wrap #body-layout #main-wrap .info-box .layout .weather-box .data-box .dust-box .status {
  position: absolute;
  right: 0;
  top: 50%;
  width: 45px;
  text-align: center;
  font-size: 14px;
  color: #0d75b4;
  transform: translateY(-50%);
}

#wrap #body-layout #main-wrap .info-box .layout .population-box {
  float: right;
  display: inline-block;
  vertical-align: middle;
  padding-top: 20px;
  position: relative;
}

#wrap #body-layout #main-wrap .info-box .layout .population-box .title-box {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 0 0 36px;
  background: url("../img/ico_population.svg") left center no-repeat;
}

#wrap #body-layout #main-wrap .info-box .layout .population-box .title-box > a {
  display: block;
}

#wrap #body-layout #main-wrap .info-box .layout .population-box .title-box > a > strong {
  font-size: 17px;
  font-weight: 600;
  color: #282828;
  line-height: 1.2;
}

#wrap #body-layout #main-wrap .info-box .layout .population-box .title-box > span {
  font-size: 14px;
  color: #777;
}

#wrap #body-layout #main-wrap .info-box .layout .population-box .data-list {
  display: inline-block;
  vertical-align: middle;
}

#wrap #body-layout #main-wrap .info-box .layout .population-box .data-list > li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  text-align: center;
}

#wrap #body-layout #main-wrap .info-box .layout .population-box .data-list > li:first-child::before {
  content: '';
  display: block;
  height: 40px;
  background: url("../img/ico_junggu.png") center no-repeat;
}

#wrap #body-layout #main-wrap .info-box .layout .population-box .data-list > li:last-child::before {
  content: '';
  display: block;
  height: 40px;
  background: url("../img/ico_daejeon.png") center no-repeat;
}

#wrap #body-layout #main-wrap .info-box .layout .population-box .data-list > li > a {
  display: block;
}

#wrap #body-layout #main-wrap .info-box .layout .population-box .data-list > li > a > strong {
  font-size: 14px;
  color: #282828;
}

#wrap #body-layout #main-wrap .info-box .layout .population-box .data-list > li > a > strong > b {
  display: block;
  font-weight: 600;
  line-height: 1;
}

#wrap #body-layout #main-wrap .info-box .layout .search-box {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding: 0 400px;
  transform: translateY(-50%);
}

#wrap #body-layout #main-wrap .info-box .layout .search-box .align-box {
  position: relative;
}

#wrap #body-layout #main-wrap .info-box .layout .search-box .align-box > form > fieldset > input {
  width: calc(100% - 44px);
  height: 59px;
  padding: 0 45px 0 25px;
  border: 1px solid #e8e8e8;
  border-radius: 29.5px;
  background: #fff;
  font-size: 16px;
}

#wrap #body-layout #main-wrap .info-box .layout .search-box .align-box > form > fieldset > button {
  position: absolute;
  right: 0;
  top: 0;
  width: 59px;
  height: 59px;
  border-radius: 100%;
  background: #345aa0 url("../img/ico_search.svg") center no-repeat;
  text-indent: -10000px;
  cursor: pointer;
}

#wrap #body-layout #main-wrap .info-box .layout .search-box .align-box .keyword {
  display: block;
  position: relative;
  overflow: hidden;
  min-width: 320px;
  padding: 0 75px 0 85px;
  margin-top: 10px;
  text-align: center;
}

#wrap #body-layout #main-wrap .info-box .layout .search-box .align-box .keyword > p {
  position: absolute;
  left: 18px;
  color: #345aa0;
  font-weight: bold;
  font-size: 15px;
  background: #eff3f6;
}

#wrap #body-layout #main-wrap .info-box .layout .search-box .align-box .keyword .grap {
  overflow: hidden;
  position: relative;
  height: 24px;
  width: 100%;
}

#wrap #body-layout #main-wrap .info-box .layout .search-box .align-box .keyword .grap > a {
  display: inline-block;
  padding-left: 15px;
  font-size: 15px;
}

#wrap #body-layout #main-wrap .mainbanner {
  margin-bottom: 38px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  text-align: left;
}

#wrap #body-layout #main-wrap .mainbanner .slide-wrap {
  display: block;
  vertical-align: top;
  position: relative;
  width: calc(60% - 20px);
  margin: 0 20px 50px 0;
  max-height: 397px;
  border-radius: 10px;
  overflow: hidden;
}

#wrap #body-layout #main-wrap .mainbanner .slide-wrap .swiper .swiper-wrapper .swiper-slide img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#wrap #body-layout #main-wrap .mainbanner .intro-wrap {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: calc(60% + 5px);
  top: 0;
  width: calc(25% - 20px);
  height: 390px;
  padding: 40px 24px;
  padding-top: 100px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  background: url("https://www.djjunggu.go.kr/images/kr/main/bg_intro.png") right top no-repeat;
}

#wrap #body-layout #main-wrap .mainbanner .intro-wrap .title {
  margin-bottom: 50px;
  font-size: 18px;
  color: #282828;
  line-height: 1.4;
  position: relative;
  display: block;
  padding-right: 80px;
}

#wrap #body-layout #main-wrap .mainbanner .intro-wrap .title > b {
  font-size: 18px;
  color: #282828;
  line-height: 1.4;
}

#wrap #body-layout #main-wrap .mainbanner .intro-wrap .title > p {
  display: block;
  margin: 5px 0 50px;
  vertical-align: top;
  font-weight: 600;
}

#wrap #body-layout #main-wrap .mainbanner .intro-wrap .title > p > strong {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1px;
  margin-right: 5px;
  width: 73px;
  height: 28px;
  margin-bottom: 5px;
  background: url("../img/img_name.png") center no-repeat;
  font-size: 0;
  vertical-align: bottom;
  position: relative;
  top: 3px;
}

#wrap #body-layout #main-wrap .mainbanner .intro-wrap > ul {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #717483;
}

#wrap #body-layout #main-wrap .mainbanner .intro-wrap > ul > li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  text-align: center;
}

#wrap #body-layout #main-wrap .mainbanner .intro-wrap > ul > li:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

#wrap #body-layout #main-wrap .mainbanner .intro-wrap > ul > li > a {
  width: 100%;
  display: table;
  text-align: center;
}

#wrap #body-layout #main-wrap .mainbanner .intro-wrap > ul > li > a > span {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  font-size: 15px;
  color: #fff;
  font-style: normal;
}

#wrap #body-layout #main-wrap .mainbanner .side-wrap {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  vertical-align: top;
  width: 14%;
  height: 390px;
  border-radius: 10px;
  background: #33599f;
}

#wrap #body-layout #main-wrap .mainbanner .side-wrap .side-nav {
  height: 100%;
  padding: 0 30px;
}

#wrap #body-layout #main-wrap .mainbanner .side-wrap .side-nav > li {
  height: 33.3333%;
  padding: 20px 0;
}

#wrap #body-layout #main-wrap .mainbanner .side-wrap .side-nav > li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#wrap #body-layout #main-wrap .mainbanner .side-wrap .side-nav > li > a {
  display: block;
  position: relative;
  text-align: center;
}

#wrap #body-layout #main-wrap .mainbanner .side-wrap .side-nav > li > a > img {
  height: 100%;
  padding: 0 30px;
}

#wrap #body-layout #main-wrap .mainbanner .side-wrap .side-nav > li > a > span {
  display: block;
  width: calc(100% + 60px);
  margin-left: -30px;
  font-size: 16px;
  color: #fff;
  padding: 2px 0;
}

#wrap #body-layout #main-wrap .mainbanner .bottom-wrap {
  padding-top: 5px;
  margin-bottom: 80px;
}

#wrap #body-layout #main-wrap .mainbanner .bottom-wrap .bottom-nav {
  padding: 0 20px;
}

#wrap #body-layout #main-wrap .mainbanner .bottom-wrap .bottom-nav > li {
  display: inline-block;
  vertical-align: middle;
  width: 16.66%;
  text-align: center;
}

#wrap #body-layout #main-wrap .mainbanner .bottom-wrap .bottom-nav > li:nth-child(2) > a::after {
  background: url("../img/ico_nav3.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .mainbanner .bottom-wrap .bottom-nav > li:nth-child(3) > a::after {
  background: url("../img/ico_nav4.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .mainbanner .bottom-wrap .bottom-nav > li:nth-child(4) > a::after {
  background: url("../img/ico_nav5.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .mainbanner .bottom-wrap .bottom-nav > li:nth-child(5) > a::after {
  background: url("../img/ico_nav5.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .mainbanner .bottom-wrap .bottom-nav > li:nth-child(6) > a::after {
  background: url("../img/ico_nav6.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .mainbanner .bottom-wrap .bottom-nav > li > a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 20px 0 20px 95px;
}

#wrap #body-layout #main-wrap .mainbanner .bottom-wrap .bottom-nav > li > a::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #eff3f6;
}

#wrap #body-layout #main-wrap .mainbanner .bottom-wrap .bottom-nav > li > a > span {
  display: inline;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  line-height: 1.6;
}

#wrap #body-layout #main-wrap .mainbanner .bottom-wrap .bottom-nav > li > a::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url("../img/ico_nav2.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .news {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  text-align: left;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-title {
  margin-bottom: 10px;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-title > strong {
  color: #345aa0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-right: 20px;
  margin-right: 22px;
  font-size: 38px;
  letter-spacing: -1px;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-title > strong::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 30px;
  background: #d5d5d5;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-title > strong > b {
  position: relative;
  color: #000;
  font-size: 38px;
  letter-spacing: -5px;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-title > strong > b::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: -10px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #000;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 350px);
  margin-right: 55px;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box {
  position: relative;
  width: calc(100% - 55px);
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div {
  float: left;
  height: 450px;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div:nth-of-type(2) > button {
  left: 16.666%;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div:nth-of-type(3) > button {
  left: 33.332%;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div:nth-of-type(4) > button {
  left: 49.998%;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div:nth-of-type(5) > button {
  left: 66.664%;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div:nth-of-type(6) > button {
  left: 83.33%;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div button {
  border-right: 1px solid #fff;
  color: #0d0d0d;
  position: absolute;
  width: 16.6666%;
  height: 55px;
  border: 1px solid #e3e3e3;
  font-size: 16px;
  cursor: pointer;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div button.active {
  border-right: 1px solid #fff;
  color: #fff;
  position: absolute;
  width: 16.6666%;
  height: 55px;
  border: 1px solid #e3e3e3;
  font-size: 16px;
  background: #0d64b4;
  cursor: pointer;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board {
  position: absolute;
  left: 0;
  top: 95px;
  width: calc(100% + 55px);
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:first-child {
  padding: 7px 10px 35px 120px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #ccc;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:first-child > a {
  display: block;
  width: 100%;
  height: 100%;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:first-child > a > span {
  overflow: hidden;
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #2a2a2a;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:first-child > a > span > strong {
  font-weight: 600;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:first-child > a > p {
  overflow: hidden;
  display: block;
  height: 45px;
  font-size: 15px;
  color: #686868;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:first-child > a > em {
  display: block;
  position: absolute;
  left: 10px;
  top: 0;
  width: 92px;
  height: 92px;
  border: 3px solid #e3e3e3;
  border-radius: 100%;
  font-size: 15px;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:first-child > a > em > span {
  display: block;
  padding-top: 48px;
  text-align: center;
  font-size: 14px;
  color: #2a2a2a;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:first-child > a > em > span > i {
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
  text-align: center;
  font-size: 31px;
  font-weight: 600;
  font-style: normal;
  color: #2a2a2a;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:not(:first-child) {
  position: relative;
  padding: 0 20px 0 35px;
  margin-bottom: 12px;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:not(:first-child) > a {
  display: block;
  width: 100%;
  height: 100%;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:not(:first-child) > a > span {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 206px);
  font-size: 16px;
  color: #686868;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:not(:first-child) > a > span > strong {
  border-bottom: 1px solid transparent;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:not(:first-child) > a > p {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 94px;
  margin-right: 32px;
  text-align: right;
  font-size: 14px;
  color: #0d64b4;
  white-space: nowrap;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:not(:first-child) > a > em {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  font-size: 14px;
  color: #939393;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:not(:first-child) > a > em > span {
  letter-spacing: -1px;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board > ul > li:not(:first-child) > a > em > span > i {
  font-style: normal;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board-more {
  display: block;
  position: absolute;
  right: -55px;
  top: 0;
  border: 1px solid #e3e3e3;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board-more a {
  display: block;
  position: relative;
  width: 55px;
  height: 53px;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board-more a::before, #wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board-more a::after {
  content: '';
  display: block;
  position: absolute;
  left: 19px;
  top: 25px;
  width: 18px;
  height: 0;
  border-bottom: 2px solid #000;
}

#wrap #body-layout #main-wrap .news .news-wrap .news-box .button-box > div .board-more a::after {
  left: 27px;
  top: 17px;
  width: 0;
  height: 18px;
  border-left: 2px solid #000;
}

#wrap #body-layout #main-wrap .news .news-wrap .notice-box {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 295px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}

#wrap #body-layout #main-wrap .news .news-wrap .notice-box .notice-title {
  padding: 15px;
  height: 55px;
  text-align: center;
}

#wrap #body-layout #main-wrap .news .news-wrap .notice-box .notice-title > strong {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #0d0d0d;
}

#wrap #body-layout #main-wrap .news .news-wrap .notice-box .notice-img {
  overflow: hidden;
  max-height: 327px;
}

#wrap #body-layout #main-wrap .news .news-wrap .notice-box .notice-img > img {
  width: 293px;
}

#wrap #body-layout #main-wrap .main-sns {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  text-align: left;
  margin-bottom: 112px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}

#wrap #body-layout #main-wrap .main-sns .sns-title {
  display: inline-block;
  vertical-align: middle;
  width: 55%;
  position: relative;
  padding: 26px 0 26px 14%;
}

#wrap #body-layout #main-wrap .main-sns .sns-title > img {
  position: absolute;
  left: 8%;
  top: -20px;
  width: 108px;
  height: 98px;
}

#wrap #body-layout #main-wrap .main-sns .sns-title > strong {
  vertical-align: middle;
  position: relative;
  padding-right: 20px;
  margin-right: 20px;
  font-size: 23px;
  color: #000;
}

#wrap #body-layout #main-wrap .main-sns .sns-title > strong::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 34px;
  border-left: 1px solid #d5d5d5;
  transform: translateY(-50%);
}

#wrap #body-layout #main-wrap .main-sns .sns-title > strong > b {
  font-weight: bold;
  color: #345aa0;
}

#wrap #body-layout #main-wrap .main-sns .sns-title > span {
  position: absolute;
  left: calc(30% + 100px);
  top: 50%;
  font-size: 16px;
  color: #4c4c4c;
  transform: translateY(-50%);
}

#wrap #body-layout #main-wrap .main-sns .sns-list {
  width: 45%;
  display: inline-block;
  vertical-align: middle;
}

#wrap #body-layout #main-wrap .main-sns .sns-list > li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

#wrap #body-layout #main-wrap .main-sns .sns-list > li:not(:last-child) {
  padding-right: 10%;
}

#wrap #body-layout #main-wrap .main-sns .sns-list > li > img {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 38px;
  height: 37px;
  transform: translateY(-50%);
}

#wrap #body-layout #main-wrap .main-sns .sns-list > li > a {
  display: block;
  padding-left: 48px;
  font-size: 16px;
  font-weight: 600;
  color: #282828;
}

#wrap #body-layout #main-wrap .service {
  position: relative;
  padding: 80px 0 100px;
  background: #ebf0f4;
}

#wrap #body-layout #main-wrap .service .service-wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  text-align: left;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-title {
  margin-bottom: 10px;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-title > strong {
  color: #26a19c;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-right: 20px;
  margin-right: 22px;
  font-size: 38px;
  letter-spacing: -1px;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-title > strong::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 30px;
  background: #d5d5d5;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-title > strong > b {
  position: relative;
  color: #000;
  font-size: 38px;
  letter-spacing: -5px;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-title > strong > b::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: -10px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #000;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-title > span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #4c4c4c;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box {
  position: relative;
  padding-left: 315px;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .service-list {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 595px;
  padding: 30px;
  margin-right: 15px;
  border-radius: 10px;
  background: #155f8c;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .service-list > li {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 18px 0;
  text-align: center;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .service-list > li:nth-child(1) > a::before {
  background: url("../img/ico_service1.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .service-list > li:nth-child(2) > a::before {
  background: url("../img/ico_service2.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .service-list > li:nth-child(3) > a::before {
  background: url("../img/ico_service3.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .service-list > li:nth-child(4) > a::before {
  background: url("../img/ico_service4.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .service-list > li:nth-child(5) > a::before {
  background: url("../img/ico_service5.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .service-list > li:nth-child(6) > a::before {
  background: url("../img/ico_service6.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .service-list > li:nth-child(7) > a::before {
  background: url("../img/ico_service7.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .service-list > li:nth-child(8) > a::before {
  background: url("../img/ico_service8.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .service-list > li > a {
  position: relative;
  display: block;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .service-list > li > a::before {
  content: '';
  display: block;
  height: 60px;
  margin-bottom: 5px;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .service-list > li > a > span {
  font-size: 15px;
  color: #fff;
  line-height: 1.4;
  word-break: break-word;
  display: block;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .org-box {
  display: inline-block;
  vertical-align: top;
  width: calc(67.5675% - 15px);
  height: 290px;
  padding: 38px;
  margin: 0 15px 15px 0;
  border-radius: 10px;
  background: #fff;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .org-box .org-title {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 37.4531%;
  height: 100%;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .org-box .org-title::before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 74px;
  height: 105px;
  background: url("../img/bg_org.svg") center/contain no-repeat;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .org-box .org-title > strong {
  display: block;
  margin-bottom: 8px;
  font-size: 23px;
  font-weight: 600;
  color: #282828;
  text-shadow: none;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .org-box .org-title > span {
  font-size: 15px;
  color: #828282;
  line-height: 1.5;
  text-shadow: none;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .org-list {
  display: inline-block;
  vertical-align: middle;
  width: 62.5468%;
  padding-left: 10%;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .org-list > li {
  margin-bottom: 5px;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .org-list > li > form > select {
  width: calc(100% - 56px);
  height: 51px;
  padding: 0 28px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  font-size: 15px;
  color: #282828;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .org-list > li > form > input {
  display: inline-block;
  vertical-align: middle;
  width: 51px;
  height: 51px;
  margin-left: 5px;
  border-radius: 5px;
  background: #333532;
  text-align: center;
  font-size: 15px;
  color: #fff;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .option-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  width: 32.4324%;
  height: 290px;
  padding: 40px;
  border-radius: 10px;
  background: #26a19c;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .option-box::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 139px;
  height: 174px;
  background: url("../img/bg_opinion.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .option-box .inner-box {
  position: relative;
  height: 100%;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .option-box .inner-box > strong {
  display: block;
  margin-bottom: 8px;
  font-size: 23px;
  font-weight: 600;
  color: #fff;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .option-box .inner-box > span {
  font-size: 15px;
  color: #fff;
  line-height: 1.5;
  text-shadow: 2px 2px 1px black;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .option-box .inner-box > p {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 15px;
  color: white;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .option-box .inner-box > p::before, #wrap #body-layout #main-wrap .service .service-wrap .service-box .option-box .inner-box > p::after {
  content: '';
  position: absolute;
  display: block;
  right: -12px;
  bottom: 0;
  width: 1px;
  height: 10px;
  background: white;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .option-box .inner-box > p::after {
  transform: rotate(90deg);
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .option-color {
  background: #1698c9;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .option-color::after {
  background: url("../img/bg_welfare.svg") center no-repeat;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .org-margin {
  margin: 0 0 15px 15px;
}

#wrap #body-layout #main-wrap .service .service-wrap .service-box .org-margin .org-title::before {
  width: 85px;
  height: 116px;
  background: url("../img/bg_life_box.svg") center/contain no-repeat;
}

#wrap #body-layout #main-wrap .slide {
  position: relative;
  max-width: 1562px;
  margin: 0 auto 95px;
  border-radius: 20px;
  overflow: hidden;
}

#wrap #body-layout #main-wrap .slide::before {
  content: '';
  display: block;
  position: absolute;
  width: 273px;
  height: 110px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/img_tour_slogan.png");
  z-index: 2;
}

#wrap #footer {
  background-color: #383b4a;
  display: block;
}

#wrap #footer .footer-link .link-box {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  text-align: left;
}

#wrap #footer .footer-link .link-box > ul {
  padding: 25px 0;
}

#wrap #footer .footer-link .link-box > ul:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}

#wrap #footer .footer-link .link-box > ul > li {
  float: left;
  position: relative;
  margin-right: 26px;
}

#wrap #footer .footer-link .link-box > ul > li:first-child > a {
  color: #65a4d0;
  font-weight: 600;
}

#wrap #footer .footer-link .link-box > ul > li::after {
  display: block;
  position: absolute;
  top: 0;
  right: -13px;
  content: '';
  width: 1px;
  height: 15px;
  background: rgba(255, 255, 255, 0.2);
}

#wrap #footer .footer-link .link-box > ul > li > a {
  display: block;
  color: #fff;
  font-size: 14px;
}

#wrap #footer .footer-info {
  padding: 80px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#wrap #footer .footer-info .info-box {
  padding-left: 165px;
  padding-right: 145px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  text-align: left;
}

#wrap #footer .footer-info .info-box .footer-logo {
  position: absolute;
  left: 0;
  top: -10px;
  width: 102px;
  height: 67px;
  background: url("../img/flogo.png") no-repeat;
  font-size: 0;
}

#wrap #footer .footer-info .info-box .copy > address > span {
  display: inline-block;
  margin-right: 20px;
  font-size: 15px;
  color: #fff;
}

#wrap #footer .footer-info .info-box .copy > address > p {
  margin: 3px 0 0;
  color: #8f9096;
  font-size: 15px;
}

#wrap #footer .footer-info .info-box .copy > address > p > span {
  margin: 3px 0 0;
  color: #8f9096;
  font-size: 15px;
}

#wrap #footer .footer-info .info-box .mark {
  position: absolute;
  top: 0;
  right: 0;
}

#wrap #footer .footer-info .info-box .mark .mark-img1 {
  float: right;
  margin-top: 8px;
  width: 59px;
  height: 25px;
  background: url("../img/logo_open.png") no-repeat;
}

#wrap #footer .footer-info .info-box .mark .mark-img2 {
  float: left;
  width: 66px;
  height: 42px;
  background: url("../img/logo_mark.png") no-repeat;
  margin: 0 10px;
}
